
fieldset {
background-color:rgb(255,246,205);	
border:1px solid rgb(233,69,0);
margin:10px 0px 30px 2.5%;
width:70%;
}

legend {
    background-color: orange;
    color: white;
}

/*  this overides the generic fieldset css setting for this item by id */
#experience {
background-color: lightgreen;	
border:1px solid darkgreen;
margin:10px 0px 30px 2.5%;
width:46%;
}
